VITE_SUPABASE_URL=https://wmmzueruqyfbuhbmmsmmb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtbXp1ZXJ1cXlmYnVoYm1zbW1iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMjA3MTAsImV4cCI6MjA4ODc5NjcxMH0.OuwQR6JW0bFsWHovrGe9rAu9dX3kkYHKO1jIEQYAdPk
